/*adding new styles to html webpages*/
head{
    text-align: centre;
    color: rgb(89, 102, 146);
}
nav{
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;

}
    
img{
    max-width: 100%;
    height: auto;
}