/*adding new styles to html webpages*/
head{
    text-align: centre;
    color: rgb(89, 102, 146);
}
nav{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(41, 146, 146);
    text-decoration-color: blueviolet;

}
    
img{
    max-width: 70%;
    height: auto;
}
body.homepage{
    background-color: burlywood;
}